django
djangorestframework
django-cors-headers
django-ratelimit
spacy
textblob
tiktoken
openai
g4f>=0.4.0
celery
redis
django-redis
jsonschema
language-tool-python
validators
requests
numpy
scikit-learn
python-dotenv
gunicorn
social-auth-app-django
razorpay
psycopg2-binary
whitenoise
